{
  presets: [
    [
      "babel-preset-gatsby",
      {
        targets: {
          browsers: [">0.25%", "not dead"],
        },
      },
    ],
  ],
  plugins: [
    "inline-react-svg",
    [
      "module-resolver",
      {
        root: ["./src"],
        alias: {
          "components": "./src/components",
          "svgs": "./src/svgs",
        }
      }
    ],
  ]
}
